@import api.notes.NoteResource
@(notes: Iterable[NoteResource])

@main("Home") {
  <div class="container">
    <h1 class="display-1">Welcome to NOTE-IT!</h1>
    <div class="row">
      <ul class="p-0 w-100">
        @for(note <- notes) {
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">ID   : @note.id</h5>
            <p class="card-text">TITLE: @note.title</p>
            <p class="card-text">BODY : @note.body</p>
          </div>
          <div class="card-footer">
            <button class="btn btn-warning">Update</button>
            <button class="btn btn-danger">Delete</button>
          </div>
        </div>
        }
      </ul>
    </div>
  </div>
}
